*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--txt);
}

.content {
    width: 100vw;
    height: 100vh;
}
div.relative {
    position: relative;
    background-color: #6d28d9;
    height: 100%;
    width: 20%
  }
  
div.absolute {
    position: absolute;
    padding-left: 100%;
    top: 0px;
}

div.logo{
    font-size: x-large;
    font-weight: bolder;
    color: white;
    padding: 10%;
}

div.navigation {
    font-size: larger;
    padding-top: 10%;
    padding-left: 10%;
    color: white;
}

/* Header */

/* Project Area */
.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 100%;
}

.projects {
    grid-column: 1;
    grid-row: 1;
    width: 500px;
}

.announcements{
    grid-column: 2;
}

.trending {
    grid-column: 2;
}

